@font-face { 
    font-family: "Mulish Light";
    src: local("Mulish-Light"), url("../fonts/Mulish-Light.ttf"), 
    format("truetype");
    font-weight: bold;
  } 


.ProseMirror{
  min-height: 600px;
}